.leftcard{
    background-color: #fff;
    height: 200px;
    width: 50px;
    position: relative;
    left: 8rem;
    bottom: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding:5px;
    padding-top: 20px;
}

.addnote{
    border-left:5px solid #347c79; 
}
.leftcard__header:hover{
    transition-duration: 350ms;
    scale: 1.5;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
   .leftcard{
    display: none;
   }
}
    